/* Lagomorph brand overrides for vanilla-cookieconsent v3 */

#cc-main {
  --cc-btn-primary-bg: #2b7886;
  --cc-btn-primary-border-color: #2b7886;
  --cc-btn-primary-hover-bg: #444444;
  --cc-btn-primary-hover-border-color: #444444;

  --cc-toggle-on-bg: var(--cc-btn-primary-bg);
}
